<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>firstWebProject.AddTwoNumber</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>def</servlet-name>
  	<servlet-class>firstWebProject.Pro</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>def</servlet-name>
  	<url-pattern>/pro</url-pattern>
  </servlet-mapping>
</web-app>